.opt-in-con {
	margin-top: 30px;
}

.brand-logo {
background-image: url('images/logo.jpg');
width: 220px;
height: 164px;
background-size: contain;
background-repeat: no-repeat;
float: left;
}

form {
	width: 370px;
display: inline-block;
margin: 20px 0 0 30px;
}

form input[type="text"] {
	width: 180px;
	display: inline-block;
}
.fname {
	margin-right: 5px;
}

form input[type="email"] {
	margin: 15px 0;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #F5F5F5;
}
.container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}
.text-muted {
	margin: 20px 0;
}